@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400&family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --Dark_Blue_intro: hsl(217, 28%, 15%);    /*intro and email sign up background*/
    --Dark_Blue_Main: hsl(218, 28%, 13%);    /*Main background*/
    --Dark_Blue_Footer: hsl(216, 53%, 9%);    /*footer background*/
    --Dark_Blue_Testimonials: hsl(219, 30%, 18%);  /*testimonials background*/
}


* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.background-img {
    background: url(../images/bg-curvy-desktop.svg);
    height: 1200px;
    width: 100%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(32, 42, 60);

    position: absolute;
    z-index: -100;
}

body {
    background: rgb(24, 31, 42);
    width: auto;
    margin: 0px; 
}

.nav-head {
    display: flex;
    justify-content: space-between;
    
    margin-left: 100px;
}

.nav-head img {
    margin-top: 50px;
}

.nav-head ul {
    display: inline-flex;
    margin-right: 100px;
    margin-top: 50px;
}

.nav-head a {
    margin-left: 30px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.hero h1 {
    width: 60%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
}

.hero p {
    width: 35%;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 20px auto;
}

.hero button {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    border: 0px solid #ffffff;
    background-image: linear-gradient(to right, #81D9D4 41%, #339ECC 100%);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.about {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
    text-align: center;
    margin: 170px auto;
}

.grid h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin-top: 20px;
    font-size: 20px;
}

.grid p {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin: 10px auto;
    font-size: 14px;
    width: 55%;
}

.productive {
    display: grid;
    grid-template-columns: auto 600px;
    margin-left: 100px;
}

.productive-text h2 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 30px;
    width: 40%;
    line-height: 40px;
    margin-top: 100px;
}

.productive-text p {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 14px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.productive-text a {
    font-size: 14px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    color: #81D9D4;
}

.profiles {
    margin-left: 100px;
    margin-top: 150px;
    height: 300px;
}

.pro-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: -20px;
    margin-left: 10px;
}

.profile-grid {
    border: 0px solid #ffffff;
    width: 380px;
    height: 200px;
    background-color: var(--Dark_Blue_Testimonials);
    box-shadow: 0 0 5px 5px rgba(11, 21, 35, 0.1);
    padding: 30px;
}

.pro-info {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.profile-grid p {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.pro-text {
    margin-top: 8px;
    line-height: 10px;
}

.profile-grid small {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
}

.profile-grid img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.get-access {
    position: relative;
    border: 0px solid #ffffff;
    border-radius: 5px;
    background-color: var(--Dark_Blue_intro);
    box-shadow: 0 0 5px 5px rgba(11, 21, 35, 0.1);
    width: 800px;
    height: 250px;
    top: 140px;
    margin-left: 280px;
    text-align: center;
    padding: 30px;
    z-index: 1;
}

.get-access h2 {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.get-access p {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 20px auto;
}

.get-access input[type=email] {
    width: 450px;
    height: 45px;
    border-radius: 50px;
    border: 0px solid #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    padding: 20px;
}

.get-access button {
    width: 180px;
    height: 45px;
    border-radius: 50px;
    border: 0px solid #ffffff;
    background-image: linear-gradient(to right, #81D9D4 41%, #339ECC 100%);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

footer {
    position: relative;
    background-color: var(--Dark_Blue_Footer);
    height: 500px;
}

.footer {
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
}

.footer-items {
    display: grid;
    grid-template-columns: 350px auto auto auto auto;
    margin-top: 30px;
}

.icons{
    display: flex;
    flex-direction: row;
}

.icons .f-text {
    margin-left: 10px;
} 

.icons i {
    margin-top: 10px;
    color: #ffffff;
}

.footer-items li, a {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 70px;
    line-height: 30px;
}

.footer-items .social-icons {
    display: inline-flex;
    margin-left: 50px;
}

.social-icons li {
    border-radius: 50%;
    border: 1px solid #ffffff;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding: 0px 8px;
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 11px;
    margin-left: 0px;
    font-family: 'Open Sans', sans-serif;
    
}

@media (max-width: 600px) {
    .background-img {
        background: url(../images/bg-curvy-mobile.svg);
        width: 414px;
        height: 550px;
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgb(32, 42, 60);
    }
    
    body {
        width: 414px;
        text-align: center;
        background: rgb(24, 31, 42);
        margin: 0px; 
    }

    .nav-head img {
        width: 100px;
        height: 40px;
    }

    .nav-head ul {
        margin-right: 20px;
    }

    .nav-head a {
        margin-left: 10px;
    }

    .nav-head {
        margin-left: 20px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .hero img {
        order: 1;
        width: 300px;
        height: 250px;
        margin-left: 40px;
    }

    .hero h1 {
        order: 2;
        font-size: 25px;
        width: 80%;
        margin: 50px auto;
    }

    .hero p {
        order: 3;
        width: 80%;
        margin: -20px auto;
    }

    .hero button {
        order: 3;
        margin: 50px auto;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .grid {
        margin: 50px auto;
    }

    .grid p {
        width: 80%;
    }

    .productive {
        display: flex;
        flex-direction: column;
    }

    .productive .img {
        height: 300px;
        width: 300px;
        margin: -90px -40px;
    }

    .productive-text {
        margin-left: -70px;
        text-align: left;
    }

    .productive-text h2 {
        font-size: 20px;
        width: 100%;
    }

    .productive-text p {
        width: 100%;
    }

    .productive-text a {
        margin-left: 0px;
    }

    .profiles {
        height: 500px;
        margin: 100px 10px;
    }

    .profiles .quotes {
        text-align: left;
        margin-right: 330px;
    }

    .pro-grid {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
    }

    .profile-grid {
        text-align: left;
        margin-top: 30px;
    }

    .get-access {
        width: 380px;
        height: 400px;
        margin-left: 20px;
        top: 180px;
    }

    .get-access p {
        width: 90%;
    }

    .get-access input[type=email] {
        width: 100%;
    }

    .get-access button {
        width: 100%;
        margin: 20px auto;
    }

    footer {
        height: 1000px;
        text-align: left;
    }

    footer .logo {
        margin-top: 50px;
        margin-left: 20px;
    }

    .footer .links a {
        margin: 0px -20px;
        line-height: 40px;
    } 

    .footer .contact {
        margin-left: -20px;
        margin-bottom: 30px;
    }

    .footer .social-icons {
        text-align: center;
        margin: 50px auto;
    }

    .f-text {
        width: 70%;
    }

    .footer {
        margin-left: 20px;
    }

    .footer-items {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .footer-items li, a {
        margin-left: 20px;
    }

    .attribution {
        margin-top: 10px;
    }
}